<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Early Childhood Activities | The last resource you'll ever need</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/media-queries.css" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:700,400,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Gorditas:400,700' rel='stylesheet' type='text/css'>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body id="home">
		<header>
			<div class="strip bg_green"></div><div class="strip bg_blue"></div><div class="strip bg_orange"></div><div class="strip bg_pink"></div><div class="strip bg_purple"></div>
			<div class="header_center">
				<span id="logo">
					<span class="green">Early</span><span class="pink"> Childhood</span><span class="blue"> Activities</span>
				</span>
				<nav>
					<ul>
						<li><a class="orange" href="/">Latest</a></li>
						<li><a class="green" href="/">Submit</a></li>
					</ul>
				</nav>
			</div>
		</header>



		<div id="wrap">
			<section id="latest">

				<div id="search">
					<label>Keyword Search</label>
					<input type="text" value="" placeholder="E.g. Nature summer outdoors"/>
					<button>Find</button>
				</div>


				<article>
					<div class="thumb">
						<img src="/images/temp_uploads/temp_1.jpg" />
					</div>
					<div class="details">
						<h2>Blowing on dandelion petals</h2>
						<p>A fun and easy way to show children how fascinating flowers can be.</p>
						<div class="tags">
							<a class="tag" href="#">Flowers</a>
							<a class="tag" href="#">Spring</a>
							<a class="tag" href="#">Nature</a>
							<a class="tag" href="#">Fun</a>
						</div>
						<button class="show_me_how">How To</button> 

					</div>
				</article>


				<article>
					<div class="thumb">
						<img src="/images/temp_uploads/temp_2.jpg" />
					</div>
					<div class="details">
						<h2>Colourful fantasy face painting</h2>
						<p>From fiersome dragons and pretty princesses to super heroes and fairies, face painting is adored by children all over the world...</p>
						<div class="tags">
							<a class="tag" href="#">Flowers</a>
							<a class="tag" href="#">Spring</a>
							<a class="tag" href="#">Nature</a>
							<a class="tag" href="#">Fun</a>
						</div>
						<button class="show_me_how">How To</button> 

					</div>
				</article>

				<article>
					<div class="thumb">
						<img src="/images/temp_uploads/temp_5.jpg" />
					</div>
					<div class="details">
						<h2>Happy halloween costumes and crafts</h2>
						<p>It's that time of year again, time for candy and costumes and spooky stories. Try out some of these cool costume ideas.</p>
						<div class="tags">
							<a class="tag" href="#">Flowers</a>
							<a class="tag" href="#">Spring</a>
							<a class="tag" href="#">Nature</a>
							<a class="tag" href="#">Fun</a>
						</div>
						<button class="show_me_how">How To</button> 

					</div>
				</article>

				<article>
					<div class="thumb">
						<img src="/images/temp_uploads/temp_3.jpg" />
					</div>
					<div class="details">
						<h2>Speedy Sunday soapbox races</h2>
						<p>Not just for the boys, build and decorate a fany soapbox car and then race against your friends!</p>
						<div class="tags">
							<a class="tag" href="#">Flowers</a>
							<a class="tag" href="#">Spring</a>
							<a class="tag" href="#">Nature</a>
							<a class="tag" href="#">Fun</a>
						</div>
						<button class="show_me_how">How To</button> 

					</div>
				</article>

				<article>
					<div class="thumb">
						<img src="/images/temp_uploads/temp_4.jpg" />
					</div>
					<div class="details">
						<h2>Creative sculpting with play dough</h2>
						<p>Try this foolproof playdough recipe and add some different colours to make it even more exciting</p>
						<div class="tags">
							<a class="tag" href="#">Flowers</a>
							<a class="tag" href="#">Spring</a>
							<a class="tag" href="#">Nature</a>
							<a class="tag" href="#">Fun</a>
						</div>
						<button class="show_me_how">How To</button> 

					</div>
				</article>

				<article>
					<div class="thumb">
						<img src="/images/temp_uploads/temp_5.jpg" />
					</div>
					<div class="details">
						<h2>Happy halloween costumes and crafts</h2>
						<p>It's that time of year again, time for candy and costumes and spooky stories. Try out some of these cool costume ideas.</p>
						<div class="tags">
							<a class="tag" href="#">Flowers</a>
							<a class="tag" href="#">Spring</a>
							<a class="tag" href="#">Nature</a>
							<a class="tag" href="#">Fun</a>
						</div>
						<button class="show_me_how">How To</button> 

					</div>
				</article>

				<article>
					<div class="thumb">
						<img src="/images/temp_uploads/temp_1.jpg" />
					</div>
					<div class="details">
						<h2>Blowing on dandelion petals</h2>
						<p>A fun and easy way to show children how fascinating flowers can be.</p>
						<div class="tags">
							<a class="tag" href="#">Flowers</a>
							<a class="tag" href="#">Spring</a>
							<a class="tag" href="#">Nature</a>
							<a class="tag" href="#">Fun</a>
						</div>
						<button class="show_me_how">How To</button> 

					</div>
				</article>

				<article>
					<div class="thumb">
						<img src="/images/temp_uploads/temp_3.jpg" />
					</div>
					<div class="details">
						<h2>Speedy Sunday soapbox races</h2>
						<p>Not just for the boys, build and decorate a fany soapbox car and then race against your friends!</p>
						<div class="tags">
							<a class="tag" href="#">Flowers</a>
							<a class="tag" href="#">Spring</a>
							<a class="tag" href="#">Nature</a>
							<a class="tag" href="#">Fun</a>
						</div>
						<button class="show_me_how">How To</button> 

					</div>
				</article>

				<article>
					<div class="thumb">
						<img src="/images/temp_uploads/temp_2.jpg" />
					</div>
					<div class="details">
						<h2>Colourful fantasy face painting</h2>
						<p>From fiersome dragons and pretty princesses to super heroes and fairies, face painting is adored by children all over the world...</p>
						<div class="tags">
							<a class="tag" href="#">Flowers</a>
							<a class="tag" href="#">Spring</a>
							<a class="tag" href="#">Nature</a>
							<a class="tag" href="#">Fun</a>
						</div>
						<button class="show_me_how">How To</button> 

					</div>
				</article>


			</section>	
			<aside>
				<div class="ad">
					<img src="/images/temp_uploads/ad_1.jpg" />
				</div>

				<div class="ad">
					<img src="/images/temp_uploads/ad_2.jpg" />
				</div>
			</aside>
			<div class="clearfix"></div>
		</div>




		<footer>
			
		</footer>		
		


		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	</body>
	</html>